.progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    &_arr {
        margin: 40px auto 20px auto;
        display: flex;
        justify-content: center;
    }


    &_color {
        display: flex;
    }

    &_item {
        margin-right: 3px;
        width: 10px;
        height: 100%;
        border-radius: 5px;
    }

    &_btn {
        width: 170px;
        height: 30px;
        margin-top: 20px;
        margin-right: 30px;
        border: none;
        background-color: black;
        color: #fff;
        border-radius: 5px;

        &:hover {
            background-color: #121212;
        }
    }

    &_legend {
        display: flex;
        justify-content: center;
    }

    &_legendItem {
        margin-right: 10px;
    }
    
    &_legendCircle {
       display: inline-block;
       width: 15px;
       height: 15px;
       border-radius: 100%;
       margin-right: 3px;
       margin-top: 5px;
    }

    &_header {
        display: flex;
        justify-content: center;
    }
    
}